* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #cc99ff;
    --secondary: #400080;
    --tetrary: #7575a3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    padding: 20px 35px;
    background-color: var(--primary);
    position: -webkit-sticky;
    position: sticky;
    top: 10;
}

.panel h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
}

.panel a {
    text-decoration: none;
    color: var(--secondary);
}

.panel nav {
    float: right;
    margin: 7px 0;
}

.panel nav ul li {
    display: inline;
}

.panel nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: var(--secondary);
}

.hero {
    background-image: url(header-mt-fuji-cherry-blossoms-JPCHERRYBLOSSOM0220.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.intro {
    text-align: left;
    display: flex;
}

.intro h2 {
    font-size: 55px;
    color: var(--secondary);
    padding: 0 0px 20px 100px;
    text-align: left;
}

.intro p {
    line-height: 1.7;
    color: var(--tetrary);
    width: 80%;
    font-size: 20px;
}

.intro p{
    margin: 0 auto;
    padding-right: 15px; 
}

.steps {
    text-align: center;
    background: #fce138;
}

.steps img {
    width: 15%;
}

.steps h3 {
    color: #024e76;
    font-size: 38px;
    margin-top: 10px;
}

.steps p {
    color: #39a6b2;
    font-size: 23px;
}

.steps span {
    font-size: 32px;
}

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.contact-info {
    text-align: left;
}

.contact-info {
    background: var(--secondary);
    display: flex;
}

.contact-info h2 {
    font-size: 55px;
    color: var(--primary);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
}

.contact-info iframe {
    width: 400px;
    height: 400px;
}

.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

.contact-info a {
    color: var(--tetrary);
}

.contact-info img {
    width: 15%;
}
